<!--DOCTYPE html-->
<h1>Visualization1</h1>
<p>Find me in app/views/visualization1/show.html.erb</p>
<meta charset="utf-8">

<body>
<div id="graph"></div>
<%= javascript_include_tag('map') %>
</body>



<!--/*ABOVE MINE*-->

<!-- <h1>Visualization1</h1>
<p>Find me in app/views/visualization1/show.html.erb</p>
<p>A map of PA School Districts</p>
<div id="graph"></div>
<%= javascript_include_tag('map') %> -->
