/*body{
  font-family: sans-serif;
  margin: 30px;
}

svg{
  border: 1px solid black;
  background-color: white;
}

.padistrict{
  fill: #f00;
}

div.tooltip{
  position: absolute;
  text-align: center;
  width: 250px;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 50px;
  pointer-events: none;
}

path:hover{
  stroke: white;
  stroke-width: 1px;
  fill-opacity: .7;
}

.legendTitle{
  font-size: 20px;
}

rect{
  stroke: black;
  stroke-width: 2px;
}
*/
